<meta charset="UTF-8">
<div class="col-xs-12">
	<div ng-if="erroreSistema.appello">
	Attenzione... {{erroreSistema}}
	</div>
	<div class="" ng-if="!erroreSistema.appello">
		<div class="">
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading text-center ">Appello di
					{{appello.data | date:"EEEE dd MMMM yyyy"}} </div>
				<div class="panel-body">
					<form class="" role="form" method="post" ng-submit="inviaAppello()"
						id="formAppello">
						<table class="table table-responsive table-hover table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th class=""><a href="" ng-click="predicate = 'cognome'; reverse=!reverse">Cognome</a>
												
											</th>
									<th class=""><a href="" ng-click="predicate = 'nome'; reverse=!reverse">Nome</a></th>
									<th class="text-center">Assente</th>
									<th class="text-center">Ritardo</th>
									<th class="text-center">Uscita Anticipata</th>
									<th class="text-center">Giustificazione</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="studente in studenti | orderBy:predicate:reverse" class="">
									<td>{{$index+1}}</td>
									<td>{{studente.cognome}}</td>
									<td>{{studente.nome}}</td>
									<td>
										<div class="myCheckbox col-md-12 text-center">
											<input name="Assenza" type="checkbox"
												ng-model="appello.assenzeSemplici[studente.idStudente].assenza"
												ng-click="segnaAssenza(studente.idStudente)" 
												ng-true-value="true" 
												ng-false-value="false"
												ng-disabled = "appello.assenzePrese">
										</div>
									</td>
									<td>
										<button type="button" ng-click="gestisciRitardo()" class="btn btn-default btn-xs btn-block" data-toggle="modal" data-target="#myModal"
											disabled="disabled" ng-disabled = "studente.disabilitaRitardo">inserisci ritardo</button>
									</td>
									<td>
										<button type="button" ng-click="gestisciUscita()" class="btn btn-default btn-xs btn-block" data-toggle="modal" data-target="#myModal"
											ng-disabled="studente.disabilitaUscita">inserisci uscita</button>
									</td>
									<td>
										<button type="button" ng-click="gestisciGiustificazione()" class="btn btn-default btn-xs btn-block" data-toggle="modal" data-target="#myModal"
											ng-disabled="studente.disabilitaGiustificazione">giustificazione 
											</button>
									</td>
								</tr>
							</tbody>
						</table>
						
						<div class="">
							<button type="submit" class="btn btn-md btn-primary center-block" data-toggle="modal" data-target="#myModal">
								{{bottoneDesc}}
								<span class="glyphicon glyphicon-save" aria-hidden="true">
							</button>
						</div>
					</form>

				</div>
				
			</div>

		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog .myDialog">
    <div class="modal-content">
	
	<div class="modal-header ng-class: modalColor;">
        <h1>
        	{{modalTitle}}
        </h1>
      </div>
      <div class="modal-body">
        {{myInput.messaggio}}
        <br>
        <p ng-if="myInput.status">
        errore: {{myInput.status}} {{myInput.statusText}}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-md center-block ng-class:modalBtn;" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>