<meta charset="UTF-8">
<div class="col-md-8">
	<h1 class="text-center"> Il compito è {{statiAmmissibili[currState].label}} </h1>
	
	<form class="css-form form-horizontal" name="form" novalidate="true">
		<fieldset>
			<fieldset>
			<legend> Dati compito 
					<input class="mostraNascondi_{{datiChecked}} " type="checkbox" id="visibile" ng-model="datiChecked">
			</legend>
			<div class="animaScomparsa" ng-show="datiChecked">
			<div class="form-group">
				<label for="dataCompito" class="col-sm-2 control-label" >Data</label>
				<div id="bootstrapCalendario" class="col-sm-8 input-group date">
					<input id="dataCompito" type="date" 
							ng-model="compitoInClasse.data" class="form-control pointer-cursor" 
							placeholder="gg/mm/aaaa" title="seleziona per modificare"
							ng-disabled="currState != statiPossibili.daSvolgere" 
							readonly/>
							<span class="input-group-addon" ng-hide="currState != statiPossibili.daSvolgere">
								<i class="glyphicon glyphicon-calendar"></i>
							</span>
				</div>
			</div>
			<div class="form-group" ng-class="{'':form.oraInizioCompito.$untouched, 'has-error': form.oraInizioCompito.$invalid && !form.oraInizioCompito.$untouched, 'has-success': !form.oraInizioCompito.$invalid && !form.oraInizioCompito.$untouched}">
				<label for="oraInizioCompito" class="col-sm-2 control-label" required> <span class="glyphicon glyphicon-warning-sign" ng-show="form.oraInizioCompito.$invalid && !form.oraInizioCompito.$untouched"> </span> Ora inizio </label>
				<div class="col-sm-8">
					<input id="oraInizioCompito" name="oraInizioCompito" class="form-control" type="time" ng-model="compitoInClasse.oraInizio" ng-disabled="currState != statiPossibili.daSvolgere" required/>
				</div>
			</div>
			<div class="form-group" ng-class="{'':form.oraFineCompito.$untouched, 'has-error': form.oraFineCompito.$invalid && !form.oraFineCompito.$untouched, 'has-success': !form.oraFineCompito.$invalid && !form.oraFineCompito.$untouched}">
				<label for="oraFineCompito" class="col-sm-2 control-label" > <span class="glyphicon glyphicon-warning-sign" ng-show="form.oraFineCompito.$invalid && !form.oraFineCompito.$untouched"> </span> Ora fine </label>
				<div class="col-sm-8">
					<input id="oraFineCompito" name="oraFineCompito" class="form-control" type="time" ng-model="compitoInClasse.oraFine" ng-disabled="currState != statiPossibili.daSvolgere" required/>
				</div>
			</div>
			</div>
	
			</fieldset>
			<fieldset>
				<legend> Argomenti <input class="mostraNascondi_{{argsChecked}} " type="checkbox" id="visibile" ng-model="argsChecked"></legend>
				<fieldset class="animaScomparsa" ng-repeat="argomento in compitoInClasse.argomentiRS | orderBy:args_predicate" ng-show="argsChecked">
					<div class="form-group">
						<p class="col-sm-8 col-md-8 col-lg-8 ">{{$index+1}}.{{argomento.nome}}</label>
					</div>
				</fieldset>
					<div class="text-center animaScomparsa" ng-show="argsChecked">
						<button class="btn btn-info" type="button" ng-click="selezionaArgomenti()" ng-disabled="currState != statiPossibili.daSvolgere"> Seleziona Argomenti</button><br>
					</div>
			</fieldset>
			<fieldset>
				<legend> Voti <input class="mostraNascondi_{{stdChecked}}" type="checkbox" ng-model="stdChecked"></legend>
				<fieldset class="animaScomparsa" ng-show="stdChecked">
				<div ng-show="erroreStudenti"> {{erroreStudenti}}</div>
				<div ng-hide="erroreStudenti">
					<div >mostra assenti <input class="" type="checkbox" ng-model="absChecked"></div>
						<table class="table table-hover table-striped">
								<thead>
									<tr>
										<th>#</th>
										<th class="">
											<a href="" ng-click="predicate = 'cognome'; reverse=!reverse">Cognome</a>
										</th>
										<th class=""><a href="" ng-click="predicate = 'nome'; reverse=!reverse">Nome</a></th>
										<th class="col-md-4 text-center">Voto</th>
										<th class="text-center">Assente</th>
									</tr>
								</thead>
								<tbody>
									<tr class="animaScomparsa" ng-repeat="studente in studentiCompito | orderBy:stud_predicate" ng-show="absChecked || !studente.assente">
										<td class="rs-text-vmiddle">{{$index+1}}</td>
										<td class="rs-text-vmiddle">{{studente.cognome}}</td>
										<td class="rs-text-vmiddle">{{studente.nome}}</td>
										<td class="rs-text-vmiddle">
											    <div class="input-group " ng-hide="studente.assente" >
											      <input type="number" min="0" max="10" class="form-control input-sm" ng-model="studente.voto" aria-label="..." ng-disabled="currState != statiPossibili.svolto">
											      <div class="input-group-btn">
											        <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false" ng-disabled="currState != statiPossibili.svolto">Voto <span class="caret"></span></button>
											        <ul class="dropdown-menu dropdown-menu-right" role="menu">
											          <li ng-repeat="n in intervalloVoti"><a ng-click="inserisciVoto(studente,n)">{{n}}</a></li>
											        </ul>
											      </div><!-- /btn-group -->
											    </div><!-- /input-group -->
											    <div style="height: 30px; line-height: 30px" ng-show="studente.assente"> <em style="vertical-align:middle;">Lo studente risulta assente</em></div>
										</td>
										<td class="rs-text-vmiddle">
											<div class="myCheckbox col-md-12 text-center">
												<input name="Assenza" type="checkbox"
													ng-model="studente.assente"
													ng-click="segnaAssenza(studente.idStudente)" 
													ng-true-value="true" 
													ng-false-value="false"
													ng-disabled = "true">
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</fieldset>
<!-- 					
			<div class="text-center">
				<button class="btn btn-info" ng-click="salvaVoti()"> salva Voti</button><br>
			</div>
			 -->
			</fieldset>

			<fieldset>
			<legend >Azioni sullo stato corrente </legend>
			<div class="text-center">
				<button class="btn btn-default" ng-click="annullaModificheCompito()" 	title="annulla le modifiche effettuate sui dati ed argomenti del compito" 			ng-disabled="compitiUguali" > Annulla modifiche</button>
				<button class="btn btn-primary" ng-click="salvaCompito()" 				title="salva il compito con i dati inseriti" 										ng-disabled="compitiUguali && currState != statiPossibili.svolto" > Salva modifiche <span class="glyphicon glyphicon-save"></span></button>
				<button class="btn btn-default" ng-click="tornaAlRegistro()" 			title="torna all'elenco dei compiti in classe senza salvare"								>Torna al registro</button>
			</div>
			</fieldset>
			
			<fieldset class="margin-bottom-sm">
			<legend >Stato attuale compito: {{ statiAmmissibili[currState].label}}</legend>
			<div class="text-center">
				<button id="svolgiButton" 		name="svolgiButton"		class="btn btn-default" ng-click="cambioStatoCompito(salvaSvolgiCompito,true)" 		title="il compito verrà segnato come svolto, sarà quindi possibile inserire i voti ma non modificare gli altri dati"  	ng-disabled="currState != statiPossibili.daSvolgere || dataFissata > calendario.oggi"> 	Svolgi </button>
				<button id="chiudiButton" 		name="chiudiButton"		class="btn btn-default" ng-click="cambioStatoCompito(salvaChiudiCompito,true)" 		title="chiudendo il compito non sarà più possibile modificare i voti inserit" 											ng-disabled="currState != statiPossibili.svolto"> 		Chiudi </button>
				<button id="eliminaButton" 		name="eliminaButton"	class="btn btn-default" ng-click="eliminaCompitoModal(eliminaCompito)" 				title="il compito verrà eliminato" 																						ng-disabled="currState != statiPossibili.daSvolgere"> 	Elimina </button>
				<button id="annullaButton"		name="annullaButton"	class="btn btn-default" ng-click="cambioStatoCompito(salvaAnnullaCompito,true)" 	title="il compito verrà annullato e i voti non saranno considerati" 													ng-disabled="currState != statiPossibili.svolto"> 		Annulla </button>
				<button id="ripristinaButton"	name="ripristinaButton"	class="btn btn-default" ng-click="cambioStatoCompito(ripristinaCompito)" 			title="il compito verrà ripristinato e sarà possibile chiudere il compito" 												ng-disabled="currState != statiPossibili.annullato"> 	Ripristina </button>
			</div>
			</fieldset>
		</fieldset>
	</form>
	<fieldset ng-hide="currState == statiPossibili.chiuso">
	
	<div ng-show="currState == statiPossibili.daSvolgere && dataFissata > calendario.oggi"> <p> <span class="rs-color-warning glyphicon glyphicon-warning-sign"></span> Non si può segnare il compito come svolto se la data fissata è posteriore alla data odierna </p></div>
	<div ng-show="currState == statiPossibili.daSvolgere || currState == statiPossibili.svolto" > <p> <span class="rs-color-info glyphicon glyphicon-warning-sign"></span> si può chiudere il compito solo se il compito è svolto ed è stato inserito almeno un voto</p></div>
	<div ng-show="currState == statiPossibili.annullato" > <p> <span class="rs-color-info glyphicon glyphicon-warning-sign"></span> potrai effettuare modifiche una volta ripristinato il compito </p></div>
	</fieldset>
</div>
<compito-argomenti-modal></compito-argomenti-modal>