<meta charset="UTF-8">
<div class="col-md-8">
	<h1 class="text-center"> Il compito &egrave; {{statiAmmissibili[currState].label}} </h1>
	
	<form class="css-form form-horizontal" >
		<fieldset>
		<fieldset>
		<legend> Dati compito 
				<input class="mostraNascondi_{{datiChecked}} " type="checkbox" id="visibile" ng-model="datiChecked">
		</legend>
		<div class="animaScomparsa" ng-show="datiChecked">
		<div class="form-group">
			<label for="dataCompito" class="col-sm-2 control-label" >Data</label>
			<div id="bootstrapCalendario" class="col-sm-8 input-group date">
				<input id="dataCompito" type="text" ng-model="compitoInClasse.data" class="form-control" placeholder="gg/mm/aaaa" title="seleziona per modificare" readonly ng-disabled="currState != statiAmmissibili.daSvolgere" /><span class="input-group-addon" ng-hide="currState == statiAmmissibili.svolto"><i class="glyphicon glyphicon-calendar"></i></span>
			</div>
		</div>
		<div class="form-group">
			<label for="oraInizioCompito" class="col-sm-2 control-label" required>Ora inizio </label>
			<div class="col-sm-8">
				<input id="oraInizioCompito" class="form-control" type="time" ng-model="compitoInClasse.oraInizio" ng-disabled="currState != statiAmmissibili.DA_SVOLGERE.stato" />
			</div>
		</div>
		<div class="form-group">
			<label for="oraFineCompito" class="col-sm-2 control-label" >Ora fine </label>
			<div class="col-sm-8">
				<input id="oraFineCompito" class="form-control" type="time" ng-model="compitoInClasse.oraFine" ng-disabled="currState != statiAmmissibili.DA_SVOLGERE.stato"/>
			</div>
		</div>
		</div>

		</fieldset>
			<fieldset>
				<legend> Argomenti <input class="mostraNascondi_{{argsChecked}} " type="checkbox" id="visibile" ng-model="argsChecked"></legend>
				<fieldset class="animaScomparsa" ng-repeat="argomento in compitoInClasse.argomentiRS | orderBy:args_predicate" ng-show="argsChecked">
					<div class="form-group">
						<p class="col-sm-8 col-md-8 col-lg-8 ">{{$index+1}}.{{argomento.nome}}</label>
					</div>
				</fieldset>
					<div class="text-center animaScomparsa" ng-show="argsChecked">
						<button class="btn btn-info" ng-click="selezionaArgomenti()" ng-disabled="currState != statiAmmissibili.DA_SVOLGERE.stato"> Seleziona Argomenti</button><br>
					</div>
			</fieldset>
			<fieldset>
				<legend> Voti <input class="mostraNascondi_{{stdChecked}}" type="checkbox" ng-model="stdChecked"></legend>
				<fieldset class="animaScomparsa" ng-show="stdChecked">
				<div ng-show="erroreStudenti"> {{erroreStudenti}}</div>
				<div ng-hide="erroreStudenti">
					<div >mostra assenti <input class="" type="checkbox" ng-model="absChecked"></div>
						<table class="table table-hover table-striped">
								<thead>
									<tr>
										<th>#</th>
										<th class=""><a href="" ng-click="predicate = 'cognome'; reverse=!reverse">Cognome</a>
													
												</th>
										<th class=""><a href="" ng-click="predicate = 'nome'; reverse=!reverse">Nome</a></th>
										<th class="col-md-4 text-center">Voto</th>
										<th class="text-center">Assente</th>
									</tr>
								</thead>
								<tbody>
									<tr class="animaScomparsa" ng-repeat="studente in studentiCompito | orderBy:stud_predicate" ng-show="absChecked || !studente.assente">
										<td class="rs-text-vmiddle">{{$index+1}}</td>
										<td class="rs-text-vmiddle">{{studente.cognome}}</td>
										<td class="rs-text-vmiddle">{{studente.nome}}</td>
										<td class="rs-text-vmiddle">
											    <div class="input-group " ng-hide="studente.assente" >
											      <input type="number" min="0" max="10" class="form-control input-sm" ng-model="studente.voto" aria-label="..." ng-disabled="studente.assente">
											      <div class="input-group-btn">
											        <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false">Voto <span class="caret"></span></button>
											        <ul class="dropdown-menu dropdown-menu-right" role="menu">
											          
											          <li ng-repeat="n in intervalloVoti"><a ng-click="inserisciVoto(studente,n)">{{n}}</a></li>
											        </ul>
											      </div><!-- /btn-group -->
											    </div><!-- /input-group -->
											    <div style="height: 30px; line-height: 30px" ng-show="studente.assente"> <em style="vertical-align:middle;">Lo studente risulta assente</em></div>
										</td>
										<td class="rs-text-vmiddle">
											<div class="myCheckbox col-md-12 text-center">
												<input name="Assenza" type="checkbox"
													ng-model="studente.assente"
													ng-click="segnaAssenza(studente.idStudente)" 
													ng-true-value="true" 
													ng-false-value="false"
													ng-disabled = "true">
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</fieldset>
<!-- 					
			<div class="text-center">
				<button class="btn btn-info" ng-click="salvaVoti()"> salva Voti</button><br>
			</div>
			 -->
			</fieldset>

			<fieldset>
			<legend >Azioni sullo stato corrente </legend>
			<div class="text-center">
				<p>{{vecchioCompitoInClasse}}</p>
				<p>{{compitoInClasse}}</p>
				
				<p>sono uguali? {{compitiUguali}}</p>
				<button class="btn btn-default" ng-click="annullaModificheCompito()" title="annulla le modifiche effettuate fino ad ora" ng-disabled="compitiUguali"> Annulla modifiche</button>
				<button class="btn btn-primary" ng-click="salvaCompito()" title="salva il compito con i dati inseriti"> Salva Compito <span class="glyphicon glyphicon-save"></span></button>
				<button class="btn btn-default" ng-click="tornaAlRegistro()" title="torna all'elenco dei compiti in classe">Torna al registro</button>
			</div>
			</fieldset>

			<fieldset>
			<legend >Stato Attuale : {{ statiAmmissibili[currState].label}}</legend>
			<div class="text-center">
				<button class="btn btn-default" ng-click="cambioStatoCompito(svolgiCompito)" 		title="il compito &egrave; annullato e i voti non saranno considerati nella carriera degli studenti"  	ng-disabled="currState != statiAmmissibili.DA_SVOLGERE.stato"> 	Svolgi </button>
				<button class="btn btn-primary" ng-click="cambioStatoCompito(chiudiCompito)" 		title="chiudendo il compito non sarà; più possibile modificare i voti inserit" 							ng-disabled="currState != statiAmmissibili.SVOLTO.stato"> 		Chiudi </button>
				<button class="btn btn-default" ng-click="eliminaCompitoModal(eliminaCompito)" 	title="il compito verrà eliminato" 																			ng-disabled="currState != statiAmmissibili.DA_SVOLGERE.stato"> 	Elimina </button>
				<button class="btn btn-default" ng-click="cambioStatoCompito(annullaCompito)" 	title="il compito verrà annullato e i voti non saranno considerati" 										ng-disabled="currState != statiAmmissibili.SVOLTO.stato"> 		Annulla </button>
				<button class="btn btn-default" ng-click="cambioStatoCompito(ripristinaCompito)" 	title="il compito verrà ripristinato e sarà possibile chiudere il compito" 								ng-disabled="currState != statiAmmissibili.ANNULLATO.stato"> 	Ripristina </button>
			</div>
			</fieldset>
		</fieldset>
	</form>
</div>
<compito-argomenti-modal></compito-argomenti-modal>