<!-- template per la visualizzazione dei registri di una classe -->
<!-- il docente può scegliere tra il registro di classe oppure i registri
	delle sue materie -->

<div class="container-fluid">
		<h1 class="text-center"> Classe {{nomeClasse}}</h1>
	<div class="row">
		<div class="col-md-3">
			<div class="btn btn-default" ng-click="scegliRegistro()">
				<div class="panel-body">Registro di Classe</div>
			</div>
		</div>
		<div class="col-md-3">
			<div 	class="btn btn-default col-md-5" 
					ng-repeat="registroDoc in registriDisponibili" 
					ng-click="scegliRegistro(registroDoc.idRegistroDocente)">
				<div class="panel-body"> Registro {{registroDoc.materia}} </div>
			</div>
		</div>
	</div>
</div>