
<table class="table table-responsive table-hover table-striped col-xs-6">
	<thead>
		<tr>
			<th class="col-xs-6"> data appello </th>
			<th class="col-xs-2"> Azione </th>
	</thead>
	<tbody>
		<tr ng-repeat="appello in elencoAppelli">
			<td> {{appello.data}}</td>
			<td> 
				<button type="button" class="btn btn-default btn-lg btn-block" ng-if=" appello.click == 'creaAppello(1)'" ng-click="creaAppello(1)"> {{appello.azione}}</button>
				<button type="button" class="btn btn-default btn-lg btn-block" ng-if=" appello.click == '' && appello.esiste == 'false'" disabled="disabled"> {{appello.azione}}</button>
				<button type="button" class="btn btn-default btn-lg btn-block" ng-if=" appello.click == '' && appello.esiste == 'true'" ng-click=""> {{appello.azione}}</button>
				
			</td>
		</tr>
		
	</tbody>
	qui c'è l'id dell'appello: {{appelloCreato.idAppello}}
</table>