
.modal-header-success {
  background-color:#5cb85c;
  border-color: inherit;
  border-top-left-radius:inherit;
  border-top-right-radius:inherit;
  border-bottom-radius:0px;
}
.modal-header-danger {
  background-color:#d9534f;
  border-color: inherit;
  border-top-left-radius:inherit;
  border-top-right-radius:inherit;
  border-bottom-radius:0px;
}
.modal-header-warning {
  background-color:#f0ad4e;
  border-color: inherit;
  border-top-left-radius:inherit;
  border-top-right-radius:inherit;
  border-bottom-radius:0px;
}
.modal-header-info {
  background-color:#5bc0de;
  border-color: inherit;
  border-top-left-radius:inherit;
  border-top-right-radius:inherit;
  border-bottom-radius:0px;
}
.modal-header-primary {
  background-color:#337ab7;
  border-color: inherit;
  border-top-left-radius:inherit;
  border-top-right-radius:inherit;
  border-bottom-radius:0px;
}

.myDialog
{
	position:fixed;
	top:25%;
	left:30%;
}
/*
@brand-primary: darken(#428bca, 6.5%); // #337ab7
@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;
*/