<!-- template per la visualizzazione dei registri di una classe -->
<!-- il docente può scegliere tra il registro di classe oppure i registri
	delle sue materie -->

<div class="container-fluid">
		<h1 class="text-center"> Classe {{nomeClasse}}</h1>
	<div class="row">
		<div class="row margin-bottom-md">
		<h4>Registro di Classe</h4>
		<div class="col-md-2">
			<div class="btn btn-default" ng-click="scegliRegistro()">
				<div class="panel-body">Registro di Classe {{nomeClasse}}</div>
			</div>
		</div>
		</div>
		<div class="row">
		<h4>Registri docente</h4>
			<div class="col-md-2 col-lg-2 col-xl-2" 
					ng-repeat="registroDoc in registriDisponibili" >
				<div class="btn btn-default" title="vai al registro di {{registroDoc.materia}} della classe {{nomeClasse}}"
					ng-click="scegliRegistro(registroDoc.idRegistroDocente)">
					<div class="panel-body"> Registro {{registroDoc.materia}} </div>
				</div>
		</div>
		</div>
	</div>
</div>