<meta charset="UTF-8">
<div class="container-fluid">

	<h3 class="text-center">Registro di {{currRegistro.materia}} per la classe {{nomeClasse}}</h3>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-responsive table-hover table-striped table-bordered">
				<thead>
					<tr>
						<th class="text-center">#</th><th>Data compito in classe</th><th> Azione</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="3" class="text-center">
								<button class="btn btn-info btn-sm" ng-click="creaCompito()" type="button">Fissa un nuovo compito in classe</button>
						</td>
					</tr>
					<tr ng-repeat="compito in elencoCompiti | orderBy:'data'">
						<td class="text-center">
							{{$index+1}}
						</td>
						<td>
							{{compito.data | date:"EEEE dd MMMM yyyy"}}
						</td>
						<td class="text-center">
							 
							 <button class="btn btn-default" ng-click="vaiAlCompito(compito.idCompito)"> Mostra dettagli <span class="glyphicon glyphicon-edit"></span></button> 
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row"> <p> In questa sezione puoi visualizzare i compiti fissati oppure fissarne dei nuovi</p></div>
</div>